
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body { 
  @extend *;
  @extend .wh100;
  overflow: hidden;
}

.fl {
  float: left;
}

.clearFix {
  &:after, &:before {
    content: ' ';
    display: block;
    clear: both;
    overflow: hidden;
  }
}

// padding-top自适应
.pt_adapt {
  padding-top: 0;
}
